#######################################################################
#                      THE SNIP FOR ALL AND NONE                      #
#######################################################################


priority -50

#####################
#  testing testing  #
#####################
snippet testulti "can use let me lose"
    wwwwwwwwwwwwwwwwwwwwwwwwwoooooooooooooooooooooo
endsnippet
