#######################################################################
#                      THE SNIP FOR ALL AND NONE                      #
#######################################################################


priority -50

#####################
#  testing testing  #
#####################
snippet MYNAME "my name" w
...
endsnippet
