#######################################################################
#                      THE SNIP FOR ALL AND NONE                      #
#######################################################################


priority -50

#####################
#  testing testing  #
#####################
snippet MYNAME "my name" w
Johnson Yu
endsnippet
snippet MYGITHUB "My github" w
https://github.com/yu-chun-kit/
endsnippet
