####################
#  shell snippets  #
####################
snippet docs "document" b
#######################################################
# File: ${1:`!v vim_snippets#Filename('$1.sh', 'foo.sh')`}
# Author: `!v g:snips_author`
# Email: `!v g:snips_email`
# Github: `!v g:snips_github`
# Description: ${2:bash file}
#######################################################
${0}
endsnippet
