snippet tt "Description" b
<tag>
	<name>${1:name}</name>
	<tag-class>${2:ict.exp.exp}</tag-class>
	<body-content>${3:e}${3/(e)|(s)|.*/(?1:mpty)(?2:criptless)/}</body-content>
	<description>
		${0}
	</description>
</tag>
endsnippet
snippet ta "Description" b
<attribute>
	<name>${1:message}</name>
	<required>false</required>
	<type>${2:java.lang.String}</type>
	<rtexprvalue>true</rtexprvalue>
</attribute>
endsnippet
