snippet imp_fc "FunctionComponent" b
import React, { useState, useEffect } from 'react';
endsnippet

snippet type "set type" b
type ${1:`!p snip.rv = fn.split('.')[0].title()`}Props = {
	${2:username}: String
}${0}
endsnippet
