# new sh
snippet docs
	#######################################################
	# File: ${1:`vim_snippets#Filename('$1.sh', 'foo.sh')`}
	# Author: `g:snips_author`
	# Email: `g:snips_email`
	# Github: `g:snips_github`
	# Description: ${0}
	#######################################################
